<% layout("/layouts/boilerplate") %>

<div class="row mb-4 mt-3">
    <div class="col-8 offset-2">
<body>
    <h2>Edit Your Listing</h2>
    <form method="post" action="/listings/<%= listing._id %>?_method=put" novalidate class="needs-validation" enctype="multipart/form-data">


        <div class="mb-2">
            <label for="title" class="form-label">Title</label>
            <input type="text" required name="listing[title]" value="<%= listing.title %>" class="form-control">
            
            </div>  
    
    
            <div class="mb-2">
            <label for="description" class="form-label">Description</label>
            <input type="text" required class="form-control" name="listing[description]" value="<%= listing.description %>">
            </div>
    
    
            <div class="mb-2">
                <p>Original Image</p>
                <img src="<%= listing.image.url %>" height="180px" width="280px">
            </div>  
            <div class="mb-2">
                <label for="image" class="form-label">Upload New Image</label>
            <input type="file"  class="form-control" name="listing[image]" >
            </div>  
    
            
            <div class="row">
                <div class="mb-2 col-4">
                    <label for="price" class="form-label">Price</label>
                <input required type="number" name="listing[price]" class="form-control" value="<%= listing.price %>">
                </div>
        
        
                <div class="mb-2 col-md-8">
                    <label for="country" class="form-label">Country</label>
                <input required type="text" name="listing[country]" class="form-control" value="<%= listing.country %>">
                </div>  
        
            </div>
    
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
            <input type="text" required name="listing[location]" class="form-control" value="<%= listing.location %>">
            </div>
    
            <button class="btn btn-edit mt-3">Edit</button>

        </form>
</body>
</div>
</div>

    

